html
    head
        title Departure Boards
    body
        h1 BusBoard
        div(id="results")
            h2 Results
            - for(let i=0; i<data.length; i++)
                h3= data[i].stop.name
                - for(let j=0; j<data.length; j++)
                    ul
                        li= `${data[i].buses[j].number} to ${data[i].buses[j].destination} ${data[i].buses[j].expectedArrival.fromNow()}`
