.nice-input-form {
  font-size: 16px;

  .nice-button {
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-weight: bold;

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: red * 0.9;
    }

    &:active {
      background-color: red * 0.75;
    }
  }

  .nice-textbox {
    width: 600px;
    padding: 9px 19px;
    margin-right: 20px;
    border-radius: 4px;
    border: 1px lightgray solid;

    &:focus {
      outline: none;
    }
  }
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-loading-spinner {
  position: absolute;
  top: 400px - 50px;
  left: calc(50% - 50px);
  animation: App-logo-spin infinite 0.5s linear;
  opacity: 0.4;
  height: 100px;
  z-index: 2;
}

.App-loading-spinner-back {
  position: absolute;
  animation: App-logo-spin-backward infinite 1.0s linear;
  opacity: 0.2;
  height: 140px;
  top: 400px - 70px;
  left: calc(50% - 70px);
  z-index: 1;
}

.App-loading-spinner-back-back {
  position: absolute;
  animation: App-logo-spin infinite 2.0s linear;
  opacity: 0.1;
  height: 200px;
  top: 400px - 100px;
  left: calc(50% - 100px);
  z-index: 0;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes App-logo-spin-backward {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}
