.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.scrolling-bus {
  position: absolute;
  animation: scrolling-bus 5s linear;
}

.App-loading-spinner {
  position: absolute;
  top: 400px - 50px;
  left: calc(50% - 50px);
  animation: App-logo-spin infinite 0.5s linear;
  opacity: 0.4;
  height: 100px;
  z-index: 2;
}

.App-loading-spinner-back {
  position: absolute;
  animation: App-logo-spin-backward infinite 1.0s linear;
  opacity: 0.2;
  height: 140px;
  top: 400px - 70px;
  left: calc(50% - 70px);
  z-index: 1;
}

.App-loading-spinner-back-back {
  position: absolute;
  animation: App-logo-spin infinite 2.0s linear;
  opacity: 0.1;
  height: 200px;
  top: 400px - 100px;
  left: calc(50% - 100px);
  z-index: 0;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  margin-bottom: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@keyframes App-logo-spin-backward {
  from { transform: rotate(0deg); }
  to { transform: rotate(-360deg); }
}

@keyframes scrolling-bus {
  from { right: -5%; transform: rotate(0deg);}
  to {right: 105%; transform: rotate(1080deg);}
}